@import url("https://fonts.googleapis.com/css?family=Caveat|Noto+Serif+KR:400&subset=korean");
html {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7rem; }

@media (min-width: 1500px) {
  html {
    line-height: 1.9rem; } }

body::-webkit-scrollbar {
  display: none; }

.editor-post-title__input {
  text-align: center; }

.block-editor-block-list__layout {
  padding: 0px; }

.block-editor-block-list__layout .wp-block {
  max-width: 54rem; }

.block-editor-block-list__layout .wp-block[data-align=wide] {
  max-width: 1100px; }

.block-editor-block-list__layout .wp-block[data-align=full] {
  max-width: 100%; }

.block-editor-block-list__layout .block-editor-block-list__block[data-align=full] {
  margin: 0px; }

.block-editor-block-list__layout .wp-block-image {
  margin: 2rem auto; }

.block-editor-block-list__layout .wp-block-quote {
  margin: 2rem auto;
  border-left: 0px; }

.editor-post-title .wp-block {
  max-width: 54rem; }

body {
  color: #444;
  margin: auto;
  font-family: "Noto Serif KR", sans-serif;
  -ms-overflow-style: none;
  overflow: auto;
  padding-bottom: 4rem; }

body a {
  color: #000;
  text-decoration: none; }

body a:hover {
  color: #dd7118; }

body header {
  text-align: center;
  background: #FFF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  margin: auto;
  border-bottom: solid 1px #EEE;
  z-index: 10; }

body header .progress-container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  width: calc(100% + 3rem); }

body header .progress-container #reading-scroll {
  height: 2px;
  background: #fa2d5a;
  width: 0%; }

body section #toc_container {
  top: 20%;
  font-size: 0.8rem;
  float: left;
  position: fixed;
  margin: 2rem;
  line-height: 1.6rem;
  max-width: 30rem;
  z-index: 10; }

@media all and (max-width: 1600px) {
  body section #toc_container {
    display: none; } }

body section #toc_container a {
  color: #A1A1A1; }

body section #toc_container ul {
  list-style: none;
  padding: 0; }

body section #toc_container ul li {
  text-decoration: none;
  padding: 0 0.6rem;
  margin: 0 0.6rem;
  border-left: #DDD solid 2px; }

body section #toc_container ul li.toc_active, body section #toc_container ul li:hover {
  border-left: #dd7118 solid 2px; }

body section #toc_container ul li.toc_active > a, body section #toc_container ul li:hover > a {
  font-weight: bold;
  color: #dd7118; }

body section ul.posts {
  margin: 4rem auto;
  font-size: 1.6rem;
  list-style-type: none;
  padding-inline-start: 0; }

body section ul.posts li {
  padding: 2rem;
  text-align: center; }

body section ul.posts li .categories {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: #dd7118; }

body section ul.posts li .categories a {
  color: #dd7118; }

body section ul.posts li .date {
  color: #919191;
  margin: auto;
  position: relative;
  font-size: 0.8rem; }

body section .pagination {
  margin: auto;
  width: 20rem;
  text-align: center; }

body section .pagination .page-numbers {
  font-size: 1.2rem;
  padding: 0.5rem; }

body section .pagination .page-numbers.current {
  padding: 1rem;
  font-size: 1.8rem;
  color: #dd7118; }

body section .pagination .page-numbers.prev, body section .pagination .page-numbers.next {
  padding: 1rem; }

body section .to-main {
  padding-top: 20rem;
  padding-bottom: 10rem;
  text-align: center; }

body section .to-main a {
  color: #dd7118; }

body section article {
  text-align: justify;
  word-break: break-word;
  margin-right: auto;
  margin-left: auto; }

body section article a {
  color: #dd7118; }

body section article h1 {
  font-size: 1.9rem; }

body section article h2 {
  font-size: 1.7rem; }

body section article h3 {
  font-size: 1.5rem; }

body section article h4 {
  font-size: 1.2rem; }

body section article h5 {
  font-size: 1rem; }

body section article h6 {
  font-size: 1rem; }

body section article h1, body section article h2, body section article h3 {
  margin-top: 2rem;
  text-align: initial; }

body section article h4, body section article h5, body section article h6 {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: initial; }

body section article ol li, body section article ul li {
  margin: 1rem 2rem; }

body section article p, body section article ol, body section article ul, body section article h1, body section article h2, body section article h3, body section article h4, body section article h5, body section article h6, body section article table, body section article figure {
  margin-left: auto;
  margin-right: auto;
  max-width: 54rem; }

@media (max-width: 400px) {
  body section article p, body section article ol, body section article ul, body section article h1, body section article h2, body section article h3, body section article h4, body section article h5, body section article h6, body section article table, body section article figure {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media (min-width: 400px) and (max-width: 800px) {
  body section article p, body section article ol, body section article ul, body section article h1, body section article h2, body section article h3, body section article h4, body section article h5, body section article h6, body section article table, body section article figure {
    padding-left: 2rem;
    padding-right: 2rem; } }

@media not all and (max-width: 800px) {
  body section article p, body section article ol, body section article ul, body section article h1, body section article h2, body section article h3, body section article h4, body section article h5, body section article h6, body section article table, body section article figure {
    padding-left: 4rem;
    padding-right: 4rem; } }

body section article p img, body section article ol img, body section article ul img, body section article h1 img, body section article h2 img, body section article h3 img, body section article h4 img, body section article h5 img, body section article h6 img, body section article table img, body section article figure img {
  margin: 2rem auto;
  max-width: 100%; }

body section article p.no-margin, body section article ol.no-margin, body section article ul.no-margin, body section article h1.no-margin, body section article h2.no-margin, body section article h3.no-margin, body section article h4.no-margin, body section article h5.no-margin, body section article h6.no-margin, body section article table.no-margin, body section article figure.no-margin {
  margin: 0; }

body section article p.no-margin img, body section article ol.no-margin img, body section article ul.no-margin img, body section article h1.no-margin img, body section article h2.no-margin img, body section article h3.no-margin img, body section article h4.no-margin img, body section article h5.no-margin img, body section article h6.no-margin img, body section article table.no-margin img, body section article figure.no-margin img {
  margin: 0; }

body section article p.alignfull, body section article ol.alignfull, body section article ul.alignfull, body section article h1.alignfull, body section article h2.alignfull, body section article h3.alignfull, body section article h4.alignfull, body section article h5.alignfull, body section article h6.alignfull, body section article table.alignfull, body section article figure.alignfull {
  position: relative;
  z-index: 999;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%; }

body section article p.alignfull img, body section article ol.alignfull img, body section article ul.alignfull img, body section article h1.alignfull img, body section article h2.alignfull img, body section article h3.alignfull img, body section article h4.alignfull img, body section article h5.alignfull img, body section article h6.alignfull img, body section article table.alignfull img, body section article figure.alignfull img {
  margin-bottom: 2rem; }

body section article p.alignwide, body section article ol.alignwide, body section article ul.alignwide, body section article h1.alignwide, body section article h2.alignwide, body section article h3.alignwide, body section article h4.alignwide, body section article h5.alignwide, body section article h6.alignwide, body section article table.alignwide, body section article figure.alignwide {
  position: relative;
  z-index: 999;
  padding-left: 0;
  padding-right: 0;
  max-width: 100rem; }

body section article p.medium, body section article ol.medium, body section article ul.medium, body section article h1.medium, body section article h2.medium, body section article h3.medium, body section article h4.medium, body section article h5.medium, body section article h6.medium, body section article table.medium, body section article figure.medium {
  padding-left: 0;
  padding-right: 0; }

body section article p.size-large, body section article ol.size-large, body section article ul.size-large, body section article h1.size-large, body section article h2.size-large, body section article h3.size-large, body section article h4.size-large, body section article h5.size-large, body section article h6.size-large, body section article table.size-large, body section article figure.size-large {
  padding-left: 0;
  padding-right: 0; }

body section article p.size-full, body section article ol.size-full, body section article ul.size-full, body section article h1.size-full, body section article h2.size-full, body section article h3.size-full, body section article h4.size-full, body section article h5.size-full, body section article h6.size-full, body section article table.size-full, body section article figure.size-full {
  position: relative;
  z-index: 999;
  padding-left: 0;
  padding-right: 0; }

body section article p.aligncenter, body section article ol.aligncenter, body section article ul.aligncenter, body section article h1.aligncenter, body section article h2.aligncenter, body section article h3.aligncenter, body section article h4.aligncenter, body section article h5.aligncenter, body section article h6.aligncenter, body section article table.aligncenter, body section article figure.aligncenter {
  padding-left: 0;
  padding-right: 0;
  max-width: 54rem; }

body section article p.is-resized, body section article ol.is-resized, body section article ul.is-resized, body section article h1.is-resized, body section article h2.is-resized, body section article h3.is-resized, body section article h4.is-resized, body section article h5.is-resized, body section article h6.is-resized, body section article table.is-resized, body section article figure.is-resized {
  text-align: center; }

body section article p.is-resized img, body section article ol.is-resized img, body section article ul.is-resized img, body section article h1.is-resized img, body section article h2.is-resized img, body section article h3.is-resized img, body section article h4.is-resized img, body section article h5.is-resized img, body section article h6.is-resized img, body section article table.is-resized img, body section article figure.is-resized img {
  height: auto;
  max-width: 100%; }

@media (max-width: 800px) {
  body section article p.is-resized img, body section article ol.is-resized img, body section article ul.is-resized img, body section article h1.is-resized img, body section article h2.is-resized img, body section article h3.is-resized img, body section article h4.is-resized img, body section article h5.is-resized img, body section article h6.is-resized img, body section article table.is-resized img, body section article figure.is-resized img {
    margin: 2rem auto;
    padding: 0;
    left: auto;
    right: auto; } }

body section article .center, body section article .subject {
  text-align: center;
  word-break: break-word; }

body section article .subject {
  line-height: 3rem;
  text-align: center;
  word-break: break-word;
  margin: 3em auto 0 auto;
  font-size: 3rem;
  font-weight: 600; }

@media (max-width: 800px) {
  body section article .subject {
    font-size: 1.8rem; } }

body section article .date {
  font-size: 0.8rem;
  text-align: center;
  color: #919191;
  margin: 2em auto 4rem auto; }

body section article blockquote {
  font-family: 'Caveat', 'Noto Serif KR';
  font-size: 1.2rem;
  color: #747474;
  margin: 4rem auto;
  padding: 0 1rem; }

body section article table {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  max-width: 40em;
  text-align: center; }

body section article table th {
  background-color: dimgray;
  color: white;
  font-weight: normal;
  padding: 0.4rem 1rem;
  text-align: center; }

body section article table td {
  background-color: #eeeeee;
  color: #6f6f6f;
  padding: 0.4rem 1rem; }

body hr {
  width: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: right;
  position: relative;
  border: 0.5px solid #a0a0a0; }

body hr.left {
  margin-left: 0; }

body hr.title {
  margin-top: 1rem;
  margin-bottom: 5rem;
  border: 0.5px solid #dd7118; }

body .wp-block-image {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important; }

body .wp-block-image figcaption {
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 4rem;
  font-size: 0.9rem;
  color: #747474; }

@media (max-width: 800px) {
  body .wp-block-image figcaption {
    margin-top: -2rem; } }

body .wp-block-gallery {
  margin: 0px auto; }

body .wp-block-gallery figure {
  max-width: none;
  padding: 0; }

body .wp-block-gallery .blocks-gallery-grid {
  margin: 1rem;
  max-width: none; }

body .components-autocomplete figcaption {
  margin-top: auto; }

body .footnotes {
  margin: 4rem auto;
  max-width: 54rem;
  color: #747474; }

body .footnotes ol li p {
  padding: 0;
  margin: 0; }

body .footnotes::before {
  content: "";
  max-width: 100%;
  display: block;
  position: relative;
  border: 0.5px solid #d6d6d6; }

/* Copyright 2017-2019 Sean Williams
    This file is part of Modern Footnotes.

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/
.modern-footnotes-footnote {
  padding-left: 2px;
  padding-right: 2px; }

.modern-footnotes-footnote--selected {
  background: #eee;
  border-radius: 2px; }

.modern-footnotes-footnote__connector {
  background: #000;
  position: absolute;
  width: 0.9px; }

.modern-footnotes-footnote a {
  text-decoration: none; }

.modern-footnotes-footnote__note {
  display: none;
  font-size: 80%;
  color: #777; }

.modern-footnotes-footnote__note--tooltip {
  position: absolute;
  border: 1px solid #666;
  background: #fff;
  padding: 0.7em 1em;
  border-radius: 3px;
  max-width: 300px;
  box-shadow: 1px 1px 1px #eee;
  box-sizing: border-box;
  z-index: 1; }

.modern-footnotes-footnote__note a {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom; }

.modern-footnotes-footnote__note--expandable {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em; }
